{% extends 'web/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block container %}

<div class="row center-align" style="width:75%">
    <div class="col s12">
        <div class="row">
            <form action="{{ request.path }}" , method="POST">
                {{ form.hidden_tag() }}
                {% for field in form %}
                <div class="input-field">
                    {% if field.type not in ("SubmitField", "CSRFTokenField") %}
                    {{ field() }}
                    {{ field.label() }}
                    {% endif %}
                </div>
                {% endfor %}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>

{% endblock %}