{% extends 'web/base.html' %}

{% block title %}Добавить пользователя{% endblock %}

{% block container %}

<div class="row">
    <div class="col s12">
        <div class="row">
            <form action="{{ url_for('add_employee') }}" , method="POST">
                {{ form.hidden_tag() }}
                {% for field in form %}
                <div class="input-field">
                    {% if field.type not in ("SubmitField", "CSRFTokenField") %}
                    {{ field() }}
                    {{ field.label() }}
                    {% endif %}
                </div>
                {% endfor %}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>

{% endblock %}